In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
# Set the style of seaborn
sns.set(style="whitegrid")

### EDA: Understanding the Dataset 

Shape, missing values, data types, overview etc

In [5]:
# loading the dataset 
loan_data_df = pd.read_csv("../data/loan_default_dataset_kenya.csv")

In [6]:
# Overview of the dataset 
loan_data_df.head()

,Customer_ID,Age,Gender,Marital_Status,Employment_Status,Education_Level,Number_of_Dependents,Region,Account_Tenure_Years,Annual_Income,Loan_Amount,Loan_Term,Loan_Purpose,Credit_Score,Previous_Defaults,Existing_Loan_Count,Debt_to_Income_Ratio,Monthly_Installment,Late_Payments_Count,Default_Status
0,C001,58,Female,Single,Employed,Diploma,3,Nairobi,17,2910864,1803901,48,Business,643,0,1,0.62,37581.27,0,0
1,C002,48,Male,Widowed,Unemployed,Secondary,2,Nairobi,10,4543699,1419930,24,Medical,594,0,2,0.31,59163.75,1,1
2,C003,34,Male,Single,Unemployed,Secondary,0,Eldoret,20,3910879,1711066,48,Business,818,0,0,0.44,35647.21,1,0
3,C004,62,Female,Divorced,Unemployed,Masters,1,Nairobi,11,3335609,1372954,36,Medical,834,1,1,0.41,38137.61,0,0
4,C005,27,Male,Single,Self-Employed,PhD,3,Nairobi,4,1135783,758970,36,Education,526,0,1,0.67,21082.50,0,1

In [7]:
# Cehcking the data types of the columns
loan_data_df.dtypes

Customer_ID              object
Age                       int64
Gender                   object
Marital_Status           object
Employment_Status        object
Education_Level          object
Number_of_Dependents      int64
Region                   object
Account_Tenure_Years      int64
Annual_Income             int64
Loan_Amount               int64
Loan_Term                 int64
Loan_Purpose             object
Credit_Score              int64
Previous_Defaults         int64
Existing_Loan_Count       int64
Debt_to_Income_Ratio    float64
Monthly_Installment     float64
Late_Payments_Count       int64
Default_Status            int64
dtype: object

In [8]:
# Checking for missing values in the dataset
loan_data_df.isnull().sum()

Customer_ID             0
Age                     0
Gender                  0
Marital_Status          0
Employment_Status       0
Education_Level         0
Number_of_Dependents    0
Region                  0
Account_Tenure_Years    0
Annual_Income           0
Loan_Amount             0
Loan_Term               0
Loan_Purpose            0
Credit_Score            0
Previous_Defaults       0
Existing_Loan_Count     0
Debt_to_Income_Ratio    0
Monthly_Installment     0
Late_Payments_Count     0
Default_Status          0
dtype: int64

In [9]:
# Checking the shape of the dataset
loan_data_df.shape

(500, 20)

In [10]:
# Checking the columns of the dataset
loan_data_df.columns

Index(['Customer_ID', 'Age', 'Gender', 'Marital_Status', 'Employment_Status',
       'Education_Level', 'Number_of_Dependents', 'Region',
       'Account_Tenure_Years', 'Annual_Income', 'Loan_Amount', 'Loan_Term',
       'Loan_Purpose', 'Credit_Score', 'Previous_Defaults',
       'Existing_Loan_Count', 'Debt_to_Income_Ratio', 'Monthly_Installment',
       'Late_Payments_Count', 'Default_Status'],
      dtype='object')

### Business Questions

1. Which customer segments have the highest default rates? - Segmentation by variables like employment status, education level, region, or age group.

2. How does the credit score impact the likelihood of loan default? - Is there a threshold below which default rates spike?

3. What is the relatinship between Debt-to-Income Ratio and loan default? - is there a critical DTI level that signals higher risks

4. Do existing loans or previous defaults significantly increase the risk of new defaults?

5. Which loan purposes are most commonly associated with loan defaults?

6. Can we build a predictinve mode to identify high-risk loan applicants before disbursements? - Using key variables like Credit Score, Income, and Loan Amount?